node_modules
.env
.env.local

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
.env.local.backup

# Next.js build output
.next/
out/

# Local development
.DS_Store
*.pem
.vercel
